.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    height: 100vh;
    margin: auto;
    width: 100%;
    padding: 1rem;
}
.success {
    color: green;
}

form {
    width: 70%;
    border: 1px solid #dfdfdf;
    margin-top: 2rem;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
}

.form-title {
    font-size: 32px;
    font-weight: 600;
}

.form-group {
    margin-top: 1rem;
}

label {
    display: block;
}
input{
    outline: none;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
}

pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }

.btn-sign-up {
    margin-top: 1rem;
    padding:0.75rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    font-size: 18px;
    background:  #0563b4;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.btn-sign-up:hover {
    opacity: 0.8;
}

.errors {
    color: red;
    font-size: 14px;
}

pre {
    width: 70%;
    color: #fff;
}

input:focus {
    border: 1px solid #2c2c2c;
}
  
 